.p-btn, .p-btn:link, .p-btn:visited {
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 14px;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.p-btn, .p-btn:link, .p-btn:hover, .p-btn:visited { text-decoration: none; }

.p-btn-red, .p-btn-red:link, .p-btn-red:visited {
	background: #ab171e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3262e), color-stop(100%,#ab171e));
	background: -moz-linear-gradient(center top, #e3262e 0%, #ab171e 100%);
	background: linear-gradient(center top, #e3262e 0%, #ab171e 100%);
	border-color: #af151b #9a1015 #820a0f #9a1015;
	border-width: 1px;
	border-style: solid;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0,0,0,0.11);
}
.p-btn-red:hover {
	background: #ab171e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e63d44), color-stop(100%,#c11a22));
	background: -moz-linear-gradient(center top, #e63d44 0%, #c11a22 100%);
	background: linear-gradient(center top, #e63d44 0%, #c11a22 100%);
	border: 1px solid #920c12;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0,0,0,0.11);
}

.p-btn-grey, .p-btn-grey:link, .p-btn-grey:visited {
	background: #f0f0f0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0));
	background: -moz-linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
	background: linear-gradient(center top, #ffffff 0%, #f0f0f0 100%);
	border: 1px solid #cccccc;
	color: #5f5f5f;
	text-shadow: 0 1px #fff;
}
.p-btn-grey:active {
	border-color: #b8b8b8 #c2c2c2 #ccc;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	color: #5f5f5f;
	text-shadow: 0 1px #fff;
}

.p-btn-redhover:hover {
	background: #ab171e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3262e), color-stop(100%,#ab171e));
	background: -moz-linear-gradient(center top, #e3262e 0%, #ab171e 100%);
	background: linear-gradient(center top, #e3262e 0%, #ab171e 100%);
	border-color: #af151b #9a1015 #820a0f #9a1015;
	border-width: 1px;
	border-style: solid;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0,0,0,0.11);
}
.p-btn-red:active, .p-btn-redhover:active {
	background: #e22123 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb1618), color-stop(100%,#e22123)) !important;
	background: -moz-linear-gradient(center top, #bb1618 0%, #e22123 100%) !important;
	background: linear-gradient(center top, #bb1618 0%, #e22123 100%) !important;
	border: 1px solid #99161b !important;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.498039) inset !important;
	-moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.498039) inset !important;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.498039) inset !important;
}

.p-btn-greyhover, .p-btn-greyhover:link, .p-btn-greyhover:visited {
	-webkit-box-shadow: 1px -1px 1px rgba(255,255,255,0.98) inset,-1px 0 1px rgba(255,255,255,0.98) inset;
	-moz-box-shadow: 1px -1px 1px rgba(255,255,255,0.98) inset,-1px 0 1px rgba(255,255,255,0.98) inset;
	box-shadow: 1px -1px 1px rgba(255,255,255,0.98) inset,-1px 0 1px rgba(255,255,255,0.98) inset;
}
.p-btn-greyhover:hover {
	background: #fcfcfc !important;
	color: #222222;
}

.p-tab, .p-tab:link, .p-tab:visited {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	min-width: 50px;
	background: #e5e5e5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e5e5e5));
	background: -moz-linear-gradient(center top, #f3f3f3 0%, #e5e5e5 100%);
	background: linear-gradient(center top, #f3f3f3 0%, #e5e5e5 100%);
	border: 1px solid #cccccc;
	color: #5f5f5f;
	text-shadow: 0 1px #fff;
}
.p-tab-active, .p-tab-active:link, .p-tab-active:visited, .p-tab:hover {
	background: #f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
	background: -moz-linear-gradient(center top, #ffffff 0%, #f4f4f4 100%);
	background: linear-gradient(center top, #ffffff 0%, #f4f4f4 100%);
}
.p-tab:hover {
	color: #222222;
}
.p-tab:active {
	border-color: #b8b8b8 #c2c2c2 #ccc;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
}

.p-tab-left {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	-webkit-border-top-right-radius: 0 !important;
	-webkit-border-bottom-right-radius: 0 !important;
	-moz-border-top-right-radius: 0 !important;
	-moz-border-bottom-right-radius: 0 !important;
}

.p-tab-right {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
	-moz-border-top-left-radius: 0 !important;
	-moz-border-bottom-left-radius: 0 !important;
	border-left: 0 !important;
}

.p-tab-middle {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-left: 0 !important;
}

.p-small {
	padding: 2px 6px !important;
	font-size: 11px !important;
	vertical-align: top;
}

.p-large {
	font-size: 14px !important;
}

.p-rounder {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}

.p-black {
	color: #171717;
}

.p-dark-dark-grey {
	/* Approximate of rgba(21, 21, 21, 0.8); */
	color: #303030;
}

.p-dark-grey {
	color: #555555;
}

.p-grey {
	color: #777777;
}

.p-lt-grey {
	color: #c2c2c2;
}

.p-background-grey {
	/* Approximate */
	background-color: #E6E6E6;
}
